h1{
    font-weight: bold;
    text-decoration: underline;
}


.para1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    background-color: beige;
}

.para2{
    border: 2px solid #ccc;
    color: white;
    background-color: black;
}

.para3{
    width: 400px;
    height:300px;
    overflow:scroll;
    background-color: aquamarine;
    margin-top: 20px;
}